# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1. Big Little Lies
2. Only Murders in the Building
3. Little Fires Everywhere
4. Slow Horses
5. Chopped
6. The Sopranos
7. Black Mirror
8. Better Call Saul
9. Avatar: The Last Airbender
10. The Wire

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [2]:
# Code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("tv_shows.csv")
df = pd.DataFrame(df)

print(df.columns)

df = df.drop(columns=['Unnamed: 0'])

print(df.columns)

df = df.rename(columns={'Disney+': 'Disney Plus'})

print(df.columns)

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')
Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix',
       'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')
Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix',
       'Hulu', 'Prime Video', 'Disney Plus', 'Type'],
      dtype='object')

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [26]:
# Code here
import sqlite3
import pandas as pd
con = sqlite3.connect('tv.db')

cursor = con.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS shows_table (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    title TEXT, 
    year INT, 
    age INT, 
    imdb INT, 
    "Rotten Tomatoes" INT,
    Netflix INT, 
    Hulu INT, 
    "Prime Video" INT, 
    "Disney Plus" INT, 
    type INT
)
""")

sql = '''INSERT INTO shows_table(title, year, age, imdb, "Rotten Tomatoes", Netflix, Hulu, "Prime Video", "Disney Plus", type)
        VALUES(?,?,?,?,?,?,?,?,?,?)'''

data = list(df[['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix','Hulu', 'Prime Video', 'Disney Plus', 'Type']].itertuples(index=False, name=None))

cursor.executemany(sql,data)
con.commit()
con.close()

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [9]:
# Code Here
import sqlite3
con = sqlite3.connect('tv.db')

cursor = con.cursor()

cursor.execute("SELECT * FROM shows_table LIMIT 20")
data = cursor.fetchall()
for row in data:
    print(row)

con.close()

(1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [25]:
# Code here
import sqlite3
import pandas as pd
con = sqlite3.connect('tv.db', timeout=30)

cursor = con.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS watchlist_table (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    title TEXT, 
    importance_rank INT
)
""")

sql = '''INSERT INTO watchlist_table(title, importance_rank)
        VALUES(?,?)'''

data = [
    ('Big Little Lies', 6),
    ('Only Murders in the Building', 7),
    ('Little Fires Everywhere', 8),
    ('Slow Horses', 5),
    ('Chopped', 3),
    ('The Sopranos', 4),
    ('Black Mirror', 9),
    ('Better Call Saul', 2),
    ('The Wire', 10),
    ('Avatar: The Last Airbender', 1)
]

cursor.executemany(sql, data)
con.commit()
con.close()

import sqlite3
con = sqlite3.connect('tv.db')

cursor = con.cursor()

cursor.execute("SELECT * FROM watchlist_table")
data = cursor.fetchall()
for row in data:
    print(row)

con.close()

(1, 'Big Little Lies', 6)
(2, 'Only Murders in the Building', 7)
(3, 'Little Fires Everywhere', 8)
(4, 'Slow Horses', 5)
(5, 'Chopped', 3)
(6, 'The Sopranos', 4)
(7, 'Black Mirror', 9)
(8, 'Better Call Saul', 2)
(9, 'The Wire', 10)
(10, 'Avatar: The Last Airbender', 1)

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [22]:
# Code here
total_shows = len(df)
print(total_shows)
#There are 5368 total shows.

streaming_services = {
    'Netflix': df['Netflix'].sum(),
    'Hulu': df['Hulu'].sum(),
    'Prime Video': df['Prime Video'].sum(),
    'Disney Plus': df['Disney Plus'].sum()
}
print(streaming_services)
#Netflix streams 1,972 shows on the list. Hulu streams 1621 shows on the list, Prime Video streams 1,831 shows on the list. Disney Plus streams 351 shows on the list.

streaming_percentage = {streaming: (count/total_shows) * 100 for streaming, count in streaming_services.items()}
print(streaming_percentage)
#Netflix streams 36.71%, Hulu 30.20%, Prime Video 34.10%, and Disney Plus 6.53%.

5368
{'Netflix': np.int64(1971), 'Hulu': np.int64(1621), 'Prime Video': np.int64(1831), 'Disney Plus': np.int64(351)}
{'Netflix': np.float64(36.71758569299553), 'Hulu': np.float64(30.19746646795827), 'Prime Video': np.float64(34.10953800298063), 'Disney Plus': np.float64(6.538748137108792)}


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [28]:
# Code here
import sqlite3
import pandas as pd

con = sqlite3.connect('tv.db')

sql_query = '''
SELECT w.id AS watch_list_id, w.title, w.importance_rank,
        s.year, s.age, s.imdb, s."Rotten Tomatoes",
        s.Netflix, s.Hulu, s."Prime Video", s."Disney Plus", s.type
FROM watchlist_table AS w 
JOIN shows_table AS s ON w.title = s.title
'''

joined_tables = pd.read_sql_query(sql_query, con)

print(joined_tables)
print(joined_tables.head())

con.close()

   watch_list_id                       title  importance_rank  year  age  \
0              3     Little Fires Everywhere                8  2020  18+
1              3     Little Fires Everywhere                8  2020  18+
2              5                     Chopped                3  2009  all
3              5                     Chopped                3  2009  all
4              7                Black Mirror                9  2011  18+
5              7                Black Mirror                9  2011  18+
6              8            Better Call Saul                2  2015  18+
7              8            Better Call Saul                2  2015  18+
8             10  Avatar: The Last Airbender                1  2005   7+
9             10  Avatar: The Last Airbender                1  2005   7+

     imdb Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney Plus  type
0  7.7/10          76/100        0     1            0            0     1
1  7.7/10          76/100        0     1            0            0     1
2  7.5/10          64/100        0     1            0            0     1
3  7.5/10          64/100        0     1            0            0     1
4  8.8/10          92/100        1     0            0            0     1
5  8.8/10          92/100        1     0            0            0     1
6  8.8/10          94/100        1     0            0            0     1
7  8.8/10          94/100        1     0            0            0     1
8  9.3/10          93/100        1     0            1            0     1
9  9.3/10          93/100        1     0            1            0     1
   watch_list_id                    title  importance_rank  year  age    imdb  \
0              3  Little Fires Everywhere                8  2020  18+  7.7/10
1              3  Little Fires Everywhere                8  2020  18+  7.7/10
2              5                  Chopped                3  2009  all  7.5/10
3              5                  Chopped                3  2009  all  7.5/10
4              7             Black Mirror                9  2011  18+  8.8/10

  Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney Plus  type
0          76/100        0     1            0            0     1
1          76/100        0     1            0            0     1
2          64/100        0     1            0            0     1
3          64/100        0     1            0            0     1
4          92/100        1     0            0            0     1

In [32]:
#The number of watchlist shows each streaming service has
streaming_counts = {
    'Netflix': joined_tables['Netflix'].count(),
    'Hulu': joined_tables['Hulu'].count(),
    'Prime Video': joined_tables['Prime Video'].count(),
    'Disney Plus': joined_tables['Disney Plus'].count()
}

print(streaming_counts)
#My output shows that all ten of my watchlist shows are available on each streaming service, which I find highly unlikely. 

streaming_percentage = {streaming: (count/total_shows) * 100 for streaming, count in streaming_counts.items()}
print(streaming_percentage)

{'Netflix': np.int64(10), 'Hulu': np.int64(10), 'Prime Video': np.int64(10), 'Disney Plus': np.int64(10)}
{'Netflix': np.float64(0.18628912071535023), 'Hulu': np.float64(0.18628912071535023), 'Prime Video': np.float64(0.18628912071535023), 'Disney Plus': np.float64(0.18628912071535023)}

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- *According to my output, yes, but I don't believe that to be true.

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

- *My output shows that all of the shows are available on all of the streaming services. 

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

- *All of them were offered (again, unlikely this is correct). 

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

- *I guess all of them.

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [ ]:
# Code Here