# Welcome to the Data Manipulation Exercises

The workbook has been broken up into three sections.  Each section correlates to a reading assignment within the textbook.

In [1]:
import pandas as pd
import numpy as np

# data= pd.read_csv("titanic.csv") #This does not work
data_file = pd.read_csv('/Users/miafusco/Documents/LaunchCode/data-analysis-projects2/data-manipulation/exercises/titanic.csv')

## Before You Get Started

We are going to be using the Titanic Dataset. Make sure to run a head() before you start working with manipulation methods.

In [2]:
# Run the head of your data set here:
data_file.head(5)
#  survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone
# 0         0       3    male  22.0      1      0   7.2500        S  Third    man        True  NaN  Southampton    no  False
# 1         1       1  female  38.0      1      0  71.2833        C  First  woman       False    C    Cherbourg   yes  False
# 2         1       3  female  26.0      0      0   7.9250        S  Third  woman       False  NaN  Southampton   yes   True
# 3         1       1  female  35.0      1      0  53.1000        S  First  woman       False    C  Southampton   yes  False
# 4         0       3    male  35.0      0      0   8.0500        S  Third    man        True  NaN  Southampton    no   True

In [3]:
# check for duplicates

In [4]:
# if there are, go ahead and drop them:

### Cleaning Note:

While the columns are not the "prettiest", don't adjust any of them yet. We are going to update some values and add some values as we workthrough this notebook. Applologies for the extra visual "noise" on your screen. You will be given the option to tidy up the columns at the end of this notebook.

## Running Tables Note:  
If your tables don't appear to have accepted your changes, try the "Run All" option in the "Cell" section of the menu bar.

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# A. Aggregation

1. Work through the section Exercises.  
    - There are 4 sections in part A:
        - Groupby
        - Aggregation Methods
        - Groupby and Basic Math
        - Groupby and Multiple Aggregations

#### Creating Variables.

As we begin to manipulate our data, create new variables to store your work in.  This will keep your original data in tact.  Having the original dataset available will save you time with each manipulation.  You can also create variable names that inform you of the purpose of the manipulation.

### 1: Groupby <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

#### Groupby "embark_town"

1. Using the titanic data set, groupby "embark_town".
1. Create a variable that will represent the grouping of data. 
1. Intitalize it using the groupby() function and pass it the column.

In [5]:
# Code your groupby "embark_town" here:
grouping_variable = data_file.groupby("embark_town")

In [6]:
# To view the grouped data as a table, use the variable_name.first():
grouping_variable.first()
# survived	pclass	sex	age	sibsp	parch	fare	embarked	class	who	adult_male	deck	alive	alone
# embark_town														
# Cherbourg	1	1	female	38.0	1	0	71.2833	C	First	woman	False	C	yes	False
# Queenstown	0	3	male	2.0	0	0	8.4583	Q	Third	man	True	C	no	True
# Southampton	0	3	male	22.0	1	0	7.2500	S	Third	man	True	C	no	False

#### Groupby "survived"

Did you know that you can also chain on some of our exploratory methods to the groupby method?

1. Create & initalize a new variable to hold a table that will groupby "survived" 
1. Use method chaining to tack on the describe method

In [7]:
# Code your groupby "survived" table here:
people_survived = data_file.groupby("survived")

# run your table below:
people_survived.first()
# survived  pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck alive  alone
# embark_town                                                                                                            
# Cherbourg           1       1  female  38.0      1      0  71.2833        C  First  woman       False    C   yes  False
# Queenstown          0       3    male   2.0      0      0   8.4583        Q  Third    man        True    C    no   True
# Southampton         0       3    male  22.0      1      0   7.2500        S  Third    man        True    C    no  False
# >>> people_survived = data_file.groupby("survived")
# >>> people_survived.first()
#           pclass     sex   age  sibsp  parch     fare embarked  class    who  adult_male deck  embark_town alive  alone
# survived                                                                                                               
# 0              3    male  22.0      1      0   7.2500        S  Third    man        True    E  Southampton    no  False
# 1              1  female  38.0      1      0  71.2833        C  First  woman       False    C    Cherbourg   yes  False

In [8]:
# run your table with describe
people_survived.describe()
#  count      mean       std  min  25%  50%  75%  max  ...  count       mean        std  min      25%   50%   75%       max
# survived                                                      ...                                                                 
# 0         549.0  2.531876  0.735805  1.0  2.0  3.0  3.0  3.0  ...  549.0  22.117887  31.388207  0.0   7.8542  10.5  26.0  263.0000
# 1         342.0  1.950292  0.863321  1.0  1.0  2.0  3.0  3.0  ...  342.0  48.395408  66.596998  0.0  12.4750  26.0  57.0  512.3292

In [9]:
# How is this table organized?  Why are there 40 columns now?
#The table is organized by count of survived, standard deviation, miniumum, mean, etc.

### 2. Aggregation Methods <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Note: **agg()** and **aggregate()** are identical [source](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.aggregate.html)

#### Method Chaining

1. Create a variable to method chain **head()** and **agg()** togehter.
1. Pass one of the following statistical values to **agg()**
   - "mean", "median", "mode", "min", "max", "std", "var", "first", "last", "sum"

In [ ]:
# Code your method chain here:
agg_function = ["mean"]
grouping_variable = data_file.groupby(["fare"])
result = grouping_variable.agg(agg_function).head()

In [11]:
# Create a variable to method chain head() with agg("sum")
agg_function = ["sum"]
grouping_variable2 = data_file.groupby(["age"])
result = grouping_variable2.agg(agg_function).head()
# run your table:
grouping_variable2.first()
#   survived  pclass     sex  sibsp  parch      fare embarked   class    who  adult_male  deck  embark_town alive  alone
# age                                                                                                                        
# 0.42          1       3    male      0      1    8.5167        C   Third  child       False  None    Cherbourg   yes  False
# 0.67          1       2    male      1      1   14.5000        S  Second  child       False  None  Southampton   yes  False
# 0.75          1       3  female      2      1   19.2583        C   Third  child       False  None    Cherbourg   yes  False
# 0.83          1       2    male      0      2   29.0000        S  Second  child       False  None  Southampton   yes  False
# 0.92          1       1    male      1      2  151.5500        S   First  child       False     C  Southampton   yes  False
# ...         ...     ...     ...    ...    ...       ...      ...     ...    ...         ...   ...          ...   ...    ...
# 70.00         0       2    male      0      0   10.5000        S  Second    man        True     B  Southampton    no   True
# 70.50         0       3    male      0      0    7.7500        Q   Third    man        True  None   Queenstown    no   True
# 71.00         0       1    male      0      0   34.6542        C   First    man        True     A    Cherbourg    no   True
# 74.00         0       3    male      0      0    7.7750        S   Third    man        True  None  Southampton    no   True
# 80.00         1       1    male      0      0   30.0000        S   First    man        True     A  Southampton   yes   True

# [88 rows x 14 columns]

In [12]:
# Explain the sum table.  What is going on with the "sex", "class", and "alive" columns?
##I'm not sure. I don't think pandas would sum strings values. It doesn't look like anyhthing changed except instead of "yes" or "no" 
##I see "true" or "false"

#### Using a Dictionary <span style="color:darkorange;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
##### A dictionary is a Python collection type.  

Is a collection type that stores **key-value pairs**.  A key-value pair is an orgainzation system that is made up of a single *key* that has one or more *values* paired with it.  
Think of it like your contacts list.  The contacts list is the dictionary object.  
Each contact is organized by a key, usually name.  And attached to each name is contact information, or the values.
Some contacts might have email address, phone number, home or work address, etc. Other contacts may just be a name and phone number.  This is a very simple example, but understanding this orgainzational structure will be helpful as you learn to manipulate tables.  

*Here is a dictionary example with 3 keys:*
>**contacts_dictionary = {"name1": ["email", 555-5552, "work info"], 
      "name2": ["email", 555-5554],
      "name3": 555-5555}**
                     
*Here is a dictionary example with a single key-value pair*
**study_group_dictionary = {"name1": 555-5557}**   

It has a single key, and a list of values. The organization of this structure is called a "Key-Value Pair".
Using the contact list example, the key would be the name of the person and the values would be their contact information.  The key is a single item (the person's name) and the values can be a single item (an email address) or mulitple items (email, phone number, address, work info, etc).
Keys and values can be any data type, but must use correct data type syntax.  The keys do not have to be strings, but they do need to be a single value.  

For more information, you can read more on dictionary objects [here](https://www.w3schools.com/python/python_dictionaries.asp).

#### Aggregation across muliple columns using dictionary functionality

##### Syntax Example:

**age_dictionary={"age":["sum", "max"]}**

We are creating a new dictionary (**age_dictionary**).  The key is **age** and the values we want are **"sum""** and **"max"**.  This dictionary object has now become a tempate for the aggregations we want to preform.  However, on it's own, it does nothing.  Once passed to the **agg()** method, it will pick out the specific location of data we want to examine.  Making a subset table.  

The code is contained in the box below.  Run it and see what happens.


For syntax examples, review [this webpage](https://www.geeksforgeeks.org/python-pandas-dataframe-aggregate/).
#### <span style="color:coral;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

In [13]:
# Predict the table output before you uncomment the code below.

age_dictionary={"age":["sum", "max"]}
dictionary_agg=grouping_variable.agg(age_dictionary)
dictionary_agg
# age
# sum	max
# embark_town		
# Cherbourg	4005.92	71.0
# Queenstown	786.50	70.5
# Southampton	16312.75	80.0
#  age      
#             sum   max
# fare                 
# 0.0000    246.0  49.0
# 4.0125     20.0  20.0
# 5.0000     33.0  33.0
# 6.2375     61.0  61.0
# 6.4375     34.5  34.5
# ...         ...   ...
# 227.5250   98.0  42.0
# 247.5208   74.0  50.0
# 262.3750   39.0  21.0
# 263.0000  130.0  64.0
# 512.3292  106.0  36.0

# [248 rows x 2 columns]

1. What if we want to look at more than one column at a time?  We pass more dictionaries to the agg function.
1. Create a variable to hold at least 3 columns.  Use the syntax from the "Syntax Example" as a guide.
    - Aggregate the following:  survived: "sum" & "count"; age: "std" & "min", and sibsp: "count" & "sum"

In [14]:
# Code your dictionary here:
new_dictionary = {"age":["sum", "max"], "sex":["count"]}
dictionary_agg = grouping_variable.agg(new_dictionary)
dictionary_agg

new_dictionary2 = {"age":["std", "min"], "survived":["sum", "count"], "sibsp":["count", "sum"]}
dictionary_agg = grouping_variable.agg(new_dictionary2)
dictionary_agg
# age	survived	sibsp
# std	min	sum	count	count	sum
# embark_town						
# Cherbourg	15.434860	0.42	93	168	168	65
# Queenstown	16.915396	2.00	30	77	77	33
# Southampton	14.143192	0.67	217	644	644	368

### 3. Groupby and Basic Math <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

1. Groupby "pclass".  Make sure you use a variable to hold your grouped data.

In [15]:
# Code your groupby here:
pclass_group = data_file.groupby("pclass")


# Run your table using first() here instead of head():
pclass_group.first()
# 	survived	sex	age	sibsp	parch	fare	embarked	class	who	adult_male	deck	embark_town	alive	alone
# pclass														
# 1	1	female	38.0	1	0	71.2833	C	First	woman	False	C	Cherbourg	yes	False
# 2	1	female	14.0	1	0	30.0708	C	Second	child	False	D	Cherbourg	yes	False
# 3	0	male	22.0	1	0	7.2500	S	Third	man	True	G	Southampton	no	False

### 4. Groupby and Multiple Aggregations <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

#### Group with a List<span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

1. We want to do muliple aggregation functions to our newly grouped data set.  We created a variable to hold a list of functions we want to perform.  These functions are part of the agg method.  When we pass our list to the method, the method will iterate through each item and perform that function for the entire table.

In [16]:
# our list of functions
agg_func_list = ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'first', 'last', 'count']


#Apply the agg method to our passenger_class variable (made in the Groupby Basic Math section).  
# Pass our list to the function and run your table.
pclass_group = data_file.groupby("pclass")
agg_function_list = ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'first', 'last', 'count']
result = pclass_group.agg(agg_function_list).first()
##This is not working.

#### Group with a Dictionary<span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Using only a list provides us with the entire table.  What if we only want to look at age vs pclass?  

we can create a dictionary to hold the age column for us.  The *key* would be the name of our column, and the values our list of functions to preform on that column.  The code would look like this:

In [17]:
agg_func_dict = { 'age':['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'first', 'last', 'count']}
# We would run our table like this:
pclass_group.agg(agg_func_dict) 
# age                                                                       
#             sum       mean median   min   max        std         var first  last count
# pclass                                                                                
# 1       7111.42  38.233441   37.0  0.92  80.0  14.802856  219.124543  38.0  26.0   186
# 2       5168.83  29.877630   29.0  0.67  70.0  14.001077  196.030152  14.0  27.0   173
# 3       8924.92  25.140620   24.0  0.42  74.0  12.495398  156.134976  22.0  32.0   355

Looking at the *age_func_dict* syntax, create a dictionary variable for the "survived" column and pass it to **passenger_class.agg()** in the box below.

In [18]:
# Code it here:
agg_func_dict2 = {'survived':['sum','mean','median','min','max','std','var','first','last','count']}
pclass_group.agg(agg_func_dict2) 
# survived                                                              
#             sum      mean median min max       std       var first last count
# pclass                                                                       
# 1           136  0.629630    1.0   0   1  0.484026  0.234281     1    1   216
# 2            87  0.472826    0.0   0   1  0.500623  0.250624     1    0   184
# 3           119  0.242363    0.0   0   1  0.428949  0.183998     0    0   491

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# B. Recoding and Creating New Values and Variables 

1. Work through the Part B, there are 3 sections

### Create a New Column <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

In the box below:
1. Create a new column by manipulating the values of different column.  Specifically, create a new column, "fare_2021" that allows us to compare the cost of fare in pounds back in 1912 to 2021.  [This website](https://www.in2013dollars.com/uk/inflation/1912) can help you find the 2021 fare amount.

In [19]:
# Code your new "fare_2021" column here:
inflation_factor = 114.89
data_file["fare_2021"] = data_file["fare"] * inflation_factor
# Run the head of your table to see your new column:
data_file.head()
# survived  pclass     sex   age  sibsp  parch     fare  ... adult_male deck  embark_town  alive  alone fare_reformatted    fare_2021
# 0         0       3    male  22.0      1      0   7.2500  ...       True  NaN  Southampton     no  False           7.2500   832.952500
# 1         1       1  female  38.0      1      0  71.2833  ...      False    C    Cherbourg    yes  False          71.2833  8189.738337
# 2         1       3  female  26.0      0      0   7.9250  ...      False  NaN  Southampton    yes   True           7.9250   910.503250
# 3         1       1  female  35.0      1      0  53.1000  ...      False    C  Southampton    yes  False          53.1000  6100.659000
# 4         0       3    male  35.0      0      0   8.0500  ...       True  NaN  Southampton     no   True           8.0500   924.864500

# [5 rows x 17 columns]

### Replacing Values <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
 
Replace the values in the "alive" coloum from string "yes" or "no" to bools, where "yes" becomes True and "no" becomes False.

In [20]:
# Code your updated values here:
data_file["alive_reformatted"] = data_file["alive"].replace({"no": False, "yes": True})
# survived  pclass     sex   age  sibsp  parch  ...  embark_town alive  alone fare_reformatted    fare_2021 alive_reformatted
# 0         0       3    male  22.0      1      0  ...  Southampton    no  False           7.2500   832.952500             False
# 1         1       1  female  38.0      1      0  ...    Cherbourg   yes  False          71.2833  8189.738337              True
# 2         1       3  female  26.0      0      0  ...  Southampton   yes   True           7.9250   910.503250              True
# 3         1       1  female  35.0      1      0  ...  Southampton   yes  False          53.1000  6100.659000              True
# 4         0       3    male  35.0      0      0  ...  Southampton    no   True           8.0500   924.864500             False

# [5 rows x 18 columns]

We can also use functions to update values.

1. Create a function that will set the alive values as bools. Apply it to your table and run your table here:

In [21]:
# Code your function here:
def alive_values_bools(value): 
    if value == "yes":
        return True 
    elif value == "no": 
        return False
    else:
        return None
data_file["alive_bools"] = data_file["alive"].apply(alive_values_bools)

### Using a function to create a new column <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

Sometimes you might want to create a new column based on combining multiple columns together.

1. create an "age_group" column that breaks years up as 0-19, 20-29, 30-39, etc until all given ages are covered.  Make sure you check to see where you can stop counting by 10s.

In [22]:
# Write your max age check here:
def age_group_column(age):
    if age =>0 and <= 19: 
        return '0-19'
    elif age => 20 and <= 29:
        return '20-29'
    elif age =>30 and <= 39:
        return '30-39'
    elif age >= 40 and age <= 49:
        return '40-49'
    elif age >= 50 and age <= 59:
        return '50-59'
    elif age >= 60 and age <= 69:
        return '60-69'
    elif age >= 70 and age <= 79:
        return '70-79'
    elif age >= 80:
        return '80+'
    else:
        return None
data_file["age_group"] = data_file["age"].apply(age_group_column)

##not working

In [23]:
# Code the new "age_group" column function here:

<span style="background-color:dodgerblue; color:dodgerblue;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span>

# C. Reshaping Tables

1. Work through Part C, there are 4 sections

### Sort_values <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

Use **sort_values()** to answer the following question:
> What is the age of the person who paid the highest fare?

Hint: We want to see the highest fare value first. What order would we want? ascending or descending?  Check the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values) for the syntax.

In [24]:
# Code your sort_values here:
data_file.sort_values(by=['fare'], ascending=False)

# Run your table here:

#  survived  pclass     sex   age  sibsp  parch  ...  embark_town alive  alone fare_reformatted     fare_2021 alive_reformatted
# 258         1       1  female  35.0      0      0  ...    Cherbourg   yes   True         512.3292  58861.501788              True
# 737         1       1    male  35.0      0      0  ...    Cherbourg   yes   True         512.3292  58861.501788              True
# 679         1       1    male  36.0      0      1  ...    Cherbourg   yes  False         512.3292  58861.501788              True
# 88          1       1  female  23.0      3      2  ...  Southampton   yes  False         263.0000  30216.070000              True
# 27          0       1    male  19.0      3      2  ...  Southampton    no  False         263.0000  30216.070000             False
# ..        ...     ...     ...   ...    ...    ...  ...          ...   ...    ...              ...           ...               ...
# 633         0       1    male   NaN      0      0  ...  Southampton    no   True           0.0000      0.000000             False
# 413         0       2    male   NaN      0      0  ...  Southampton    no   True           0.0000      0.000000             False
# 822         0       1    male  38.0      0      0  ...  Southampton    no   True           0.0000      0.000000             False
# 732         0       2    male   NaN      0      0  ...  Southampton    no   True           0.0000      0.000000             False
# 674         0       2    male   NaN      0      0  ...  Southampton    no   True           0.0000      0.000000             False

# [891 rows x 18 columns]

### pivot_table <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 
1. pivot the table of the summed data where the values are "fare", index is "who" and "age_group", and the columns are "survived"

Hint: set the aggfunc parameter to np.sum

In [25]:
# Code your pivot_table here:
import numpy as np
pivot_table=data_file.pivot_table(values='fare', aggfunc=np.sum, index=['who', 'age'], columns='survived')
print(pivot_table)
# Run your table here:
# survived        0         1
# who   age                  
# child 0.42    NaN    8.5167
#       0.67    NaN   14.5000
#       0.75    NaN   38.5166
#       0.83    NaN   47.7500
#       0.92    NaN  151.5500
# ...           ...       ...
# woman 57.00  10.5       NaN
#       58.00   NaN  326.5333
#       60.00   NaN   75.2500
#       62.00   NaN   80.0000
#       63.00   NaN   87.5458

# [133 rows x 2 columns]

### Wide to Long <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span> 

1. Create a table where the columns are "who" and the values are "pclass"
1. Answer the question:  How does this table differ from the pivot_table above?  Specifically, how is "who" different?

In [26]:
# Code your table here:
pclass_table=data_file.pivot_table(values='pclass',columns='who')

# Run your table here:
print(pclass_table)
# who        child       man     woman
# pclass  2.626506  2.372439  2.084871

# Answer the question here:
##who is now the pclass.

### Melt <span style="color:dodgerblue;"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </span>

1.  What does **melt** to the data?

In [27]:
# What does melt do?
##Melt changes tables from wide format to long format.

2. Melt to your data.  Be sure to store the output in a new variable.  What is the new shape of your table?

In [28]:
# Create your default melt table here with the following syntax:  new_name = pd.melt(data_set)
new_name=pd.melt(pclass_table)
# Run your table here:
print(new_name)
# Check the shape of your new table.
#  who     value
# 0  child  2.626506
# 1    man  2.372439
# 2  woman  2.084871

3. Create a melt table where the index variables are "embarked", and the values are "fare" and "deck"

In [29]:
# Create your melt table here:

# Run your table here:

# Check the shape

# Optonal Challenges:

1. Clean and Explore the table.  
    1. How would you handle any missing data?
    1. Would you keep all of the columns?
    1. Would you want to manipulate any data?