# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [ ]:
# import pandas
import pandas as pd 
# create your data variabe using .read_csv 
data_file = pd.read_csv('/Users/miafusco/Documents/LaunchCode/data-analysis-projects2/IMDB-Movie-Data.csv')
# create your data_indexed variable here
data_indexed=data_file.set_index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year','Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)','Metascore'])

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [ ]:
# Read data with specified explicit index
data_indexed_title= data_file.set_index('Title')

#print(data_indexed)
print(data_indexed_title)

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [ ]:
# Use the head() function to view the first 5 rows of the data set
##This will return just the first 5 rows of the selected dataframe. 
data_indexed_title.head(5)
#      Rank                     Genre  ... Revenue (Millions) Metascore
# Title                                                    ...                             
# Guardians of the Galaxy     1   Action,Adventure,Sci-Fi  ...             333.13      76.0
# Prometheus                  2  Adventure,Mystery,Sci-Fi  ...             126.46      65.0
# Split                       3           Horror,Thriller  ...             138.12      62.0
# Sing                        4   Animation,Comedy,Family  ...             270.32      59.0
# Suicide Squad               5  Action,Adventure,Fantasy  ...             325.02      40.0

In [ ]:
# Use the tail() function to view the last 5 rows of the data set
##This will return just the last 5 row of the selected dataframe. 
data_indexed_title.tail(5)
#         Rank                  Genre  ... Revenue (Millions) Metascore
# Title                                                ...                             
# Secret in Their Eyes     996    Crime,Drama,Mystery  ...                NaN      45.0
# Hostel: Part II          997                 Horror  ...              17.54      46.0
# Step Up 2: The Streets   998    Drama,Music,Romance  ...              58.01      50.0
# Search Party             999       Adventure,Comedy  ...                NaN      22.0
# Nine Lives              1000  Comedy,Family,Fantasy  ...              19.64      11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [ ]:
# The info() function: 
##Info will allow you to pull a summary of the selected dataframe. This includes the number of columns and their names. The count of non-null values in each column and the type. 
data_indexed_title.info()
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype  
# ---  ------              --------------  -----  
#  0   Rank                1000 non-null   int64  
#  1   Genre               1000 non-null   object 
#  2   Description         1000 non-null   object 
#  3   Director            1000 non-null   object 
#  4   Actors              1000 non-null   object 
#  5   Year                1000 non-null   int64  
#  6   Runtime (Minutes)   1000 non-null   int64  
#  7   Rating              1000 non-null   float64
#  8   Votes               1000 non-null   int64  
#  9   Revenue (Millions)  872 non-null    float64
#  10  Metascore           936 non-null    float64
# dtypes: float64(3), int64(4), object(4)

In [ ]:
# shape:
##Returns a tuple.
data_indexed_title.shape
##(1000, 11)

# what information does shape provide?  what is the order?
##The shape function provides the number of rows and columns, in that order.

In [ ]:
# columns:
##11

# what information does columns provide?
##Columns describe the category for the value type. Ex. Title describe that all values in that column are titles of movies.

In [ ]:
# The describe() function: 
##The describe function is how you would find descriptive statistics for the selected dataframe. This includes mean and standard deviation. 
data_indexed_title.describe()
#             Rank         Year  Runtime (Minutes)       Rating         Votes  Revenue (Millions)   Metascore
# count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03          872.000000  936.000000
# mean    500.500000  2012.783000         113.172000     6.723200  1.698083e+05           82.956376   58.985043
# std     288.819436     3.205962          18.810908     0.945429  1.887626e+05          103.253540   17.194757
# min       1.000000  2006.000000          66.000000     1.900000  6.100000e+01            0.000000   11.000000
# 25%     250.750000  2010.000000         100.000000     6.200000  3.630900e+04           13.270000   47.000000
# 50%     500.500000  2014.000000         111.000000     6.800000  1.107990e+05           47.985000   59.500000
# 75%     750.250000  2016.000000         123.000000     7.400000  2.399098e+05          113.715000   72.000000
# max    1000.000000  2016.000000         191.000000     9.000000  1.791916e+06          936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [ ]:
#  Extract data as series
# define and print the variable 'genre'
subset_genre = data_indexed_title['Genre']
print(subset_genre)
# Title
# Guardians of the Galaxy     Action,Adventure,Sci-Fi
# Prometheus                 Adventure,Mystery,Sci-Fi
# Split                               Horror,Thriller
# Sing                        Animation,Comedy,Family
# Suicide Squad              Action,Adventure,Fantasy
#                                      ...           
# Secret in Their Eyes            Crime,Drama,Mystery
# Hostel: Part II                              Horror
# Step Up 2: The Streets          Drama,Music,Romance
# Search Party                       Adventure,Comedy
# Nine Lives                    Comedy,Family,Fantasy
# Name: Genre, Length: 1000, dtype: object

In [ ]:
# Extract the data as a dataframe and print it
subset_genre_dataframe = data_indexed_title [['Genre']]
print(subset_genre_dataframe)
#                                             Genre
# Title                                            
# Guardians of the Galaxy   Action,Adventure,Sci-Fi
# Prometheus               Adventure,Mystery,Sci-Fi
# Split                             Horror,Thriller
# Sing                      Animation,Comedy,Family
# Suicide Squad            Action,Adventure,Fantasy
# ...                                           ...
# Secret in Their Eyes          Crime,Drama,Mystery
# Hostel: Part II                            Horror
# Step Up 2: The Streets        Drama,Music,Romance
# Search Party                     Adventure,Comedy
# Nine Lives                  Comedy,Family,Fantasy

# [1000 rows x 1 columns]

In [ ]:
# Extract data using rows
# loc function
data_indexed_title.loc['Guardians of the Galaxy']
# Rank                                                                  1
# Genre                                           Action,Adventure,Sci-Fi
# Description           A group of intergalactic criminals are forced ...
# Director                                                     James Gunn
# Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
# Year                                                               2014
# Runtime (Minutes)                                                   121
# Rating                                                              8.1
# Votes                                                            757074
# Revenue (Millions)                                               333.13
# Metascore                                                          76.0
# Name: Guardians of the Galaxy, dtype: object

In [ ]:
# iloc function
data_indexed_title.iloc[5]
# Rank                                                                  6
# Genre                                          Action,Adventure,Fantasy
# Description           European mercenaries searching for black powde...
# Director                                                    Yimou Zhang
# Actors                    Matt Damon, Tian Jing, Willem Dafoe, Andy Lau
# Year                                                               2016
# Runtime (Minutes)                                                   103
# Rating                                                              6.1
# Votes                                                             56036
# Revenue (Millions)                                                45.13
# Metascore                                                          42.0
# Name: The Great Wall, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [ ]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
movies_2000 = data_indexed_title[(data_indexed_title['Rating'] > 6.0) & (data_indexed_title['Year'].between (2010,2016)) & (data_indexed_title['Revenue (Millions)']>=82)]
print(movies_2000)
#  Rank                      Genre  ... Revenue (Millions) Metascore
# Title                                                     ...                             
# Guardians of the Galaxy     1    Action,Adventure,Sci-Fi  ...             333.13      76.0
# Prometheus                  2   Adventure,Mystery,Sci-Fi  ...             126.46      65.0
# Split                       3            Horror,Thriller  ...             138.12      62.0
# Sing                        4    Animation,Comedy,Family  ...             270.32      59.0
# Suicide Squad               5   Action,Adventure,Fantasy  ...             325.02      40.0
# ...                       ...                        ...  ...                ...       ...
# The Expendables 2         917  Action,Adventure,Thriller  ...              85.02      51.0
# The Butler                947            Biography,Drama  ...             116.63       NaN
# The Descendants           952               Comedy,Drama  ...              82.62      84.0
# The Lone Ranger           970   Action,Adventure,Western  ...              89.29       NaN
# Let's Be Cops             984                     Comedy  ...              82.39      30.0

# [192 rows x 11 columns]

In [117]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?